@font-face {
	font-family: "LibreFranklin";
	src: asset-url("html/webfonts/LibreFranklin-Regular.ttf");
}

html,
body {
	height: 100%;
	font-family: "LibreFranklin";
	font-weight: 400;
	font-style: normal;
}

.hide {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 1px;
	height: 1px;
}

.content {
	height: 100%;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-item {
	margin: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-large {
	max-height: 85%;
	max-width: 95%;
	margin: 0 auto;
	display: block;
}

.center-text {
	text-align: center;
}
