<div class="flex-item">
	<a href="<%= detail %>">
		<picture>
			<source srcset="<%= thumbnail.webp %>" type="image/webp">
			<img src="<%= thumbnail.jpg %>" loading="lazy">
		</picture>
	</a>
</div>
