<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="YourMemories - A view into your memories">
    <meta name="author" content="your-memories.org">
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <main class="flex-container">
      <% images.forEach(({ detail, thumbnail }) => { %>
        <div class="flex-item">
          <a href="<%= detail %>">
            <img src="<%= thumbnail %>">
          </a>
        </div>
      <% }); %>
    </main>
  </body>
</html>

